/*
Site Name: Chicago land
Site URI: Chicago land dot com
Author: Juan Tonang
Author URI:  juantonang.com
*/
/** ++++++++++++++++++++++++++++++++++
	Table Of Contents
++++++++++++++++++++++++++++++++++++++
+ Parametric Mixin
+ Variables
+ General Style
+ Button
+ Form
+ Header-site
+ Homepage-site
+ Body-site
+ Article
+ Widgets
+ Information-section
+ Profesionnal-page
+ About-page
+ Kids-page
+ Should-see-page
+ What to except
+ Contact-page
+ Footer site
+ Media Queries
++++++++++++++++++++++++++++++++++++++
	End Table Of Contents
++++++++++++++++++++++++++++++++++++++ **/
/** ++++++++++++++++++++++++++++++++++++++
	Parametric Mixin
++++++++++++++++++++++++++++++++++++++ **/
/** ++++++++++++++++++++++++++++++++++++++
	Variables
++++++++++++++++++++++++++++++++++++++ **/
/** ++++++++++++++++++++++++++++++++++++++
	General Style
++++++++++++++++++++++++++++++++++++++ **/
html, body {
  height: 100%; }

body {
  color: black;
  font-size: 14px;
  line-height: 1.71428571; }

a {
  -webkit-transition: ease-out .25s;
          transition: ease-out .25s;
  color: #017f87; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none !important;
    color: #949fa3; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #363a3c;
  font-family: "Oswald", sans-serif; }

.highlight {
  color: #017f87; }

::-webkit-input-placeholder {
  color: #c3cbcc;
  font-family: "Oswald", sans-serif; }

:-moz-placeholder {
  color: #c3cbcc;
  font-family: "Oswald", sans-serif; }

::-moz-placeholder {
  color: #c3cbcc;
  font-family: "Oswald", sans-serif; }

:-ms-input-placeholder {
  color: #c3cbcc;
  font-family: "Oswald", sans-serif; }

.bg-black {
  background: none repeat scroll 0% 0% #000000; }

.bg-gray {
  background: none repeat scroll 0% 0% #949fa3; }

.bg-facebook {
  background-color: #3068a6; }
  .bg-facebook:hover, .bg-facebook:focus {
    background-color: #4181c8; }

.bg-twitter {
  background-color: #43bff3; }
  .bg-twitter:hover, .bg-twitter:focus {
    background-color: #73cff6; }

.bg-email {
  background-color: #c93a3a; }
  .bg-email:hover, .bg-email:focus {
    background-color: #d46262; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.space90 {
  height: 90px;
  display: block;
  width: 100%; }

.modal-backdrop {
  background-color: transparent; }

#modalattorneys .modal-backdrop.in {
  opacity: .9; }

#modalclinicians .modal-backdrop.in {
  opacity: .9; }

.big-text {
  font-family: "Oswald", sans-serif;
  font-size: 58.64px;
  text-transform: uppercase; }

.bold-upper {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold; }

.modal-dialog {
  width: 900px;
  margin: 60px auto; }

.modal-content {
  border: 1px solid #017f87;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 30px 40px; }

.modal-header {
  position: relative;
  padding: 0;
  margin-bottom: 30px;
  border-bottom: none; }
  .modal-header .modal-title {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
    color: #017f87; }
  .modal-header button.close {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    position: absolute;
    top: -15px;
    right: -30px; }

.modal-body {
  padding: 0 0 30px; }
  .modal-body p {
    margin-bottom: 30px;
    text-align: justify; }
  .modal-body ol {
    padding-left: 20px;
    margin-bottom: 30px; }
    .modal-body ol li p {
      margin-bottom: 5px; }
  .modal-body .title-modal-body {
    margin-top: 0;
    color: #017f87;
    text-transform: capitalize;
    margin-bottom: 30px; }

.header-page {
  text-align: center; }
  .header-page img {
    margin: 0 auto 30px; }
  .header-page h1 {
    margin: 0 auto 15px;
    text-transform: uppercase;
    line-height: 1.4; }

.panel-group .panel {
  border-radius: 0; }

.panel-default {
  border: none; }

.panel {
  box-shadow: none; }

.panel-heading {
  padding: 10px 0; }

.panel-body {
  padding: 15px 0 15px 50px;
  border-top: none !important; }

.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  border-top: 2px solid #e6e9ea;
  padding-top: 0; }
  .panel-default > .panel-heading .panel-title {
    margin-top: 5px;
    font-size: 21px; }
    .panel-default > .panel-heading .panel-title .number-expect {
      font-size: 14px;
      float: left;
      margin-right: 20px;
      background: url("../images/shouldsee/label.png") no-repeat center center transparent;
      width: 27px;
      height: 39px;
      color: white;
      display: inline-block;
      font-weight: bold;
      padding-top: 7px;
      text-align: center;
      position: relative;
      top: -6px; }

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  content: "\f077";
  /* "play" icon */
  float: right;
  color: #b0c5d8;
  font-size: 18px;
  line-height: 22px;
  font-size: 8px;
  color: white;
  float: right;
  padding: 0px 5px;
  background-color: #017f87; }

.panel-heading [data-toggle="collapse"].collapsed:after {
  content: "\f078"; }

.clearboth {
  clear: both; }

.panel-collapse p {
  text-align: justify; }

.hyperlink-container {
  margin-bottom: 30px; }
  .hyperlink-container img {
    margin-bottom: 5px !important; }
  .hyperlink-container a > small {
    font-weight: bold; }

/** ++++++++++++++++++++++++++++++++++++++
	Button
++++++++++++++++++++++++++++++++++++++ **/
.btn-green {
  display: inline-block;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  padding: 2px 30px;
  text-transform: uppercase;
  color: white;
  background-color: #017f87;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: ease .25s;
          transition: ease .25s;
  border-color: #81ebf2; }
  .btn-green:hover, .btn-green:focus {
    color: white;
    background-color: #017f87; }
  .btn-green:hover {
    border-radius: 9px; }

.btn-red {
  display: inline-block;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  padding: 2px 30px;
  text-transform: uppercase;
  color: white;
  background-color: #c64d56;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: ease .25s;
          transition: ease .25s;
  border-color: #78141b; }
  .btn-red:hover, .btn-red:focus {
    color: white;
    background-color: #d2747b; }

.btn-yellow {
  display: inline-block;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  padding: 2px 30px;
  text-transform: uppercase;
  color: white;
  background-color: #ffa800;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: ease .25s;
          transition: ease .25s; }
  .btn-yellow:hover, .btn-yellow:focus {
    color: white;
    background-color: #ffb933; }
  .btn-yellow:hover {
    border-radius: 9px; }

.btn-green-border {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  padding: 10px 30px;
  background-color: transparent;
  color: #017f87;
  border: 2px solid #017f87;
  text-transform: uppercase; }
  .btn-green-border img {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0 !important; }
  .btn-green-border:hover, .btn-green-border:focus {
    border-color: #949fa3;
    border-radius: 9px; }

/** ++++++++++++++++++++++++++++++++++++++
	Form
++++++++++++++++++++++++++++++++++++++ **/
input[type="text"], input[type="email"], input[type="website"], input[type="search"] {
  width: 100%;
  height: 38px;
  line-height: 38px; }

input, textarea {
  padding: 1em;
  font-size: 13px;
  border: 1px solid transparent; }

textarea {
  width: 100%;
  resize: vertical; }

.form-search-top input {
  width: 246px;
  padding: 6px 10px;
  font-size: 10px;
  font-family: "Oswald", sans-serif; }

/** ++++++++++++++++++++++++++++++++++++++
	Header-site
++++++++++++++++++++++++++++++++++++++ **/
.header-site {
  position: relative;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #e6e9ea;
  z-index: 999;
  background: white; }
  .header-site .container-header {
    padding: 0 2%; }
  .header-site .nav-btn {
    color: black;
    border: 2px solid black;
    width: 100%;
    padding: 6px 0px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    cursor: pointer; }
    .header-site .nav-btn span {
      margin-right: 10px; }
    .header-site .nav-btn:hover, .header-site .nav-btn:focus {
      color: #949fa3;
      border-color: #949fa3; }
  .header-site.bg-black {
    border-bottom: 1px solid transparent;
    background: black; }
    .header-site.bg-black .main-navigation ul li a {
      color: white; }
    .header-site.bg-black .main-navigation ul li:hover a, .header-site.bg-black .main-navigation ul li:focus a {
      color: #017f87; }
    .header-site.bg-black .nav-btn {
      color: white;
      border: 2px solid white;
      width: 100%;
      padding: 6px 0px;
      text-align: center;
      text-transform: uppercase;
      display: block;
      font-size: 11px; }
      .header-site.bg-black .nav-btn span {
        margin-right: 10px; }
      .header-site.bg-black .nav-btn:hover, .header-site.bg-black .nav-btn:focus {
        color: #949fa3;
        border-color: #949fa3; }

.main-navigation {
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  z-index: 999; }
  .main-navigation ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .main-navigation ul li {
      display: inline-block; }
      .main-navigation ul li.active a {
        color: #017f87; }
      .main-navigation ul li a {
        padding: 0;
        margin: 0 15px;
        color: #000000; }
      .main-navigation ul li:hover a, .main-navigation ul li:focus a {
        color: #017f87; }

.top-header {
  position: relative;
  margin-bottom: 10px;
  display: block; }
  .top-header .search-top {
    position: absolute;
    top: 0;
    right: 0px; }
    .top-header .search-top .form-search-top {
      position: relative; }
      .top-header .search-top .form-search-top input[type="submit"] {
        background: url("../images/search.png") no-repeat scroll center center transparent;
        border-width: medium medium medium 1px;
        border-color: transparent;
        text-indent: -9999px;
        position: absolute;
        vertical-align: top;
        height: 22px;
        width: 38px;
        right: 0;
        top: 0;
        border-style: none none none solid;
        margin-top: 8px; }

.logo {
  text-align: center; }
  .logo a {
    display: inline-block; }
    .logo a img {
      display: block; }

.btn-contact-header {
  background: #017f87;
  padding: 6px 60px 6px 45px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  position: absolute;
  right: 0;
  top: 100%;
  border-radius: 0 0 0 16px;
  z-index: 999; }
  .btn-contact-header:before {
    position: absolute;
    width: 0;
    height: 0;
    content: no-close-quote;
    left: -19px;
    top: 0px;
    border-bottom: 29px solid transparent;
    border-right: 22px solid #017f87; }
  .btn-contact-header i {
    margin-right: 5px;
    font-size: 18px; }
  .btn-contact-header:hover {
    color: black; }

.nav-collapse {
  list-style: none outside none;
  padding: 0;
  margin: 20px 0 20px;
  z-index: 3;
  text-transform: capitalize; }
  .nav-collapse a {
    display: block; }

/** ++++++++++++++++++++++++++++++++++++++
	Homepage-site
++++++++++++++++++++++++++++++++++++++ **/
.new-homepage {
  position: relative; }
  .new-homepage .homepage-bg {
    position: relative;
    width: 100%;
    padding: 10% 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
  .new-homepage .container-homepage {
    position: relative;
    z-index: 33;
    right: 0;
    text-align: right;
    color: white; }
    .new-homepage .container-homepage .big-text {
      line-height: 1.4;
      font-weight: bold; }

.homepage-img {
  background-image: url("../images/slide/1.jpg"); }

.container-homepage {
  padding: 0 2%; }

.homepage-site {
  position: relative; }
  .homepage-site .homepage-caption {
    position: absolute;
    z-index: 33;
    right: 0;
    text-align: right;
    width: 100%;
    padding-top: 180px;
    color: white; }
    .homepage-site .homepage-caption .big-text {
      line-height: 1.4;
      font-weight: bold; }

.homepage-slider {
  position: relative; }
  .homepage-slider .item img {
    width: 100%;
    background-size: cover; }

.homepage-link {
  font-size: 27px;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  color: white;
  display: inline-block;
  padding: 5px 15px;
  background-color: #017f87;
  border: 1px solid #81ebf2; }
  .homepage-link:hover {
    color: white;
    background-color: #01afba;
    border-radius: 9px; }

.homepage-mask {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/mask.png") no-repeat scroll left top transparent;
  background-size: cover;
  z-index: 22;
  top: -1px; }

/** ++++++++++++++++++++++++++++++++++++++
	Body-site
++++++++++++++++++++++++++++++++++++++ **/
.body-site, .section-page {
  padding: 60px 0; }

.body-site {
  position: relative; }
  .body-site:before, .body-site:after {
    content: "";
    position: absolute;
    height: 60px;
    z-index: 33;
    background-color: white;
    left: 50%;
    width: 1px; }
  .body-site:before {
    top: 0; }
  .body-site:after {
    bottom: 0; }
  .body-site .line-middle {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    background-color: #efefef;
    top: 0; }

.bg-about {
  background: none repeat scroll 0% 0% #efefef; }

/** ++++++++++++++++++++++++++++++++++++++
	Article
++++++++++++++++++++++++++++++++++++++ **/
article .img-article {
  border: 1px solid #e6e9ea;
  margin-bottom: 30px;
  width: 100%; }
article p {
  text-align: justify;
  margin-bottom: 30px; }
  article p.highlight {
    color: #017f87;
    font-weight: bold; }
article .header-article {
  margin-bottom: 40px; }
  article .header-article h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 10px; }
  article .header-article .shared-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px !important; }
    article .header-article .shared-list li {
      display: inline-block; }
      article .header-article .shared-list li a {
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        border-radius: 50%;
        display: block;
        color: white;
        margin-right: 5px; }
        article .header-article .shared-list li a:hover, article .header-article .shared-list li a:focus {
          border-radius: 9px; }
article .title-container {
  width: 100%;
  position: relative;
  display: block; }
  article .title-container h1 {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.25;
    margin: 0; }
  article .title-container .authored {
    float: right;
    position: relative;
    display: block; }
    article .title-container .authored img {
      float: right;
      width: 107px;
      height: 107px;
      border-radius: 50%;
      margin-left: 20px; }
article .entry-meta-extra {
  color: #949fa3;
  font-size: 11px;
  margin-bottom: 10px; }
article .tips-information {
  background-color: #017f87;
  position: relative;
  padding: 20px;
  color: white;
  margin-left: 15px;
  box-shadow: -15px 0 0px #e6e9ea; }
  article .tips-information:after {
    position: absolute;
    width: 0;
    height: 0;
    content: no-close-quote;
    right: 0px;
    top: 100%;
    border-bottom: 35px solid transparent;
    border-right: 30px solid #017f87; }
  article .tips-information p {
    margin-bottom: 5px;
    text-align: justify; }

.desc-authored {
  float: left;
  min-width: 220px;
  text-align: right;
  margin-top: 25px;
  margin-left: 40px; }
  .desc-authored .authored-name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px; }
    .desc-authored .authored-name > a {
      text-transform: none;
      color: #017f87; }
      .desc-authored .authored-name > a:hover, .desc-authored .authored-name > a:focus {
        color: #949fa3; }
  .desc-authored ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .desc-authored ul li {
      display: inline-block; }
      .desc-authored ul li a {
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        border-radius: 50%;
        display: block;
        color: white;
        margin-left: 5px; }
        .desc-authored ul li a:hover, .desc-authored ul li a:focus {
          border-radius: 9px; }

.article-post {
  position: relative; }
  .article-post .prev {
    float: left; }
  .article-post .next {
    float: right; }

/** ++++++++++++++++++++++++++++++++++++++
	Widgets
++++++++++++++++++++++++++++++++++++++ **/
.widget {
  margin-bottom: 20px; }
  .widget .title-aside {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px; }
  .widget-search .form-search-sidebar {
    position: relative; }
    .widget-search .form-search-sidebar input[type="text"] {
      background-color: #e6e9ea; }
    .widget-search .form-search-sidebar input[type="submit"] {
      background: url("../images/search-two.png") no-repeat scroll center center transparent;
      border-width: medium medium medium 1px;
      border-color: transparent;
      text-indent: -9999px;
      position: absolute;
      vertical-align: top;
      height: 22px;
      width: 38px;
      right: 0;
      top: 0;
      border-style: none none none solid;
      margin-top: 8px; }
    .widget-search .form-search-sidebar ::-webkit-input-placeholder {
      color: #949fa3;
      font-family: "Oswald", sans-serif; }
    .widget-search .form-search-sidebar :-moz-placeholder {
      color: #949fa3;
      font-family: "Oswald", sans-serif; }
    .widget-search .form-search-sidebar ::-moz-placeholder {
      color: #949fa3;
      font-family: "Oswald", sans-serif; }
    .widget-search .form-search-sidebar :-ms-input-placeholder {
      color: #949fa3;
      font-family: "Oswald", sans-serif; }
  .widget-populer-post ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .widget-populer-post ul li {
      display: block;
      position: relative;
      margin-bottom: 30px; }
      .widget-populer-post ul li:last-childe {
        margin-bottom: 0px; }
      .widget-populer-post ul li:before {
        content: "\f068";
        position: absolute;
        font-family: FontAwesome;
        font-size: 8px;
        left: 0;
        top: 20%;
        color: #949fa3; }
      .widget-populer-post ul li article {
        margin-left: 30px; }
        .widget-populer-post ul li article h4 {
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 18px;
          text-transform: uppercase;
          line-height: 1.4; }
          .widget-populer-post ul li article h4 a {
            color: #949fa3; }
            .widget-populer-post ul li article h4 a:hover, .widget-populer-post ul li article h4 a:focus {
              color: #017f87; }

/** ++++++++++++++++++++++++++++++++++++++
	Professional-section
++++++++++++++++++++++++++++++++++++++ **/
#modalattorneys .title-modal-body, #modalclinicians .title-modal-body {
  font-size: 18px;
  margin-bottom: 10px; }
#modalattorneys .list-content, #modalclinicians .list-content {
  margin: 0 0 30px 0;
  padding: 0 0 0 30px; }

#modalattorneys .highlight {
  color: #c64d56; }
#modalattorneys .title-modal-body {
  color: #c64d56; }

.bg-professional {
  padding: 0; }
  .bg-professional .text-fixed {
    display: none; }

.item-prof {
  padding: 0; }
  .item-prof .content-prof {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 440px;
    padding-bottom: 100px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: opacity .35s;
            transition: opacity .35s; }
    .item-prof .content-prof:hover, .item-prof .content-prof:focus {
      opacity: .90; }
    .item-prof .content-prof .content-desc .label-attorneys, .item-prof .content-prof .content-desc .label-clinicians {
      font-size: 32px;
      font-family: "Oswald", sans-serif;
      padding: 60px 30px 50px;
      color: white;
      text-transform: uppercase;
      display: inline-block;
      position: relative; }
      .item-prof .content-prof .content-desc .label-attorneys:after, .item-prof .content-prof .content-desc .label-clinicians:after {
        height: 22px;
        top: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
        content: "";
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat; }
    .item-prof .content-prof .content-desc .label-attorneys {
      background-color: #c64d56; }
      .item-prof .content-prof .content-desc .label-attorneys:after {
        background-image: url("../images/angle-red.png"); }
    .item-prof .content-prof .content-desc .label-clinicians {
      background-color: #017f87; }
      .item-prof .content-prof .content-desc .label-clinicians:after {
        background-image: url("../images/angle-blue.png"); }
    .item-prof .content-prof .content-desc .label-box {
      display: block;
      margin-bottom: 60px; }
  .item-prof .content-clinicians {
    background-image: url("../images/professionals/right.jpg"); }
  .item-prof .content-attorneys {
    background-image: url("../images/professionals/left.jpg"); }

/** ++++++++++++++++++++++++++++++++++++++
	Information-page
++++++++++++++++++++++++++++++++++++++ **/
.for-button {
  text-align: center;
  position: relative;
  max-height: 174px;
  background-color: #017f87;
  -webkit-transition: ease .25s;
          transition: ease .25s; }
  .for-button:hover, .for-button:focus {
    background-color: #018d96; }
    .for-button:hover:after, .for-button:focus:after {
      background: url("../images/arrow-blue-hover.png") no-repeat scroll 0 0 transparent; }
  .for-button:after {
    -webkit-transition: ease .25s;
            transition: ease .25s;
    content: "";
    background: url("../images/arrow-blue.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    height: 56px;
    top: 60px;
    left: 99.5%;
    width: 15px;
    z-index: 999; }
  .for-button.for-button-left .arrow-right {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.for-information .owl-carousel .owl-wrapper, .for-information .owl-carousel .owl-item {
  -webkit-transform: inherit;
      -ms-transform: inherit;
          transform: inherit; }

.section-information {
  background: none repeat scroll 0% 0% #017f87;
  position: relative; }
  .section-information:before {
    content: "";
    position: absolute;
    height: 13px;
    background-color: #017f87;
    top: -23px;
    left: 0;
    width: 400px; }
  .section-information .container-information {
    width: 100%;
    position: relative;
    max-height: 174px;
    overflow: hidden; }
  .section-information .half10 {
    width: 10%;
    float: left; }
    .section-information .half10 a.more-article-prev {
      display: inline-block;
      float: left;
      margin: 40px 20px;
      z-index: 333; }
      .section-information .half10 a.more-article-prev span {
        display: inline-block;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold; }
      .section-information .half10 a.more-article-prev .arrow-right {
        background: url("../images/arrow-right.png") no-repeat scroll center center transparent;
        display: block;
        width: 60px;
        height: 60px;
        text-indent: -9999px;
        margin: 0 auto 10px; }
      .section-information .half10 a.more-article-prev:hover, .section-information .half10 a.more-article-prev:focus {
        cursor: pointer; }
    .section-information .half10 a.more-article {
      display: inline-block;
      float: left;
      margin: 40px 20px;
      z-index: 333; }
      .section-information .half10 a.more-article span {
        display: inline-block;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold; }
      .section-information .half10 a.more-article .arrow-right {
        background: url("../images/arrow-right.png") no-repeat scroll center center transparent;
        display: block;
        width: 60px;
        height: 60px;
        text-indent: -9999px;
        margin: 0 auto 10px; }
      .section-information .half10 a.more-article:hover, .section-information .half10 a.more-article:focus {
        cursor: pointer; }
  .section-information .half80 {
    float: left;
    width: 80%; }
    .section-information .half80 .list-information {
      float: left; }
  .section-information .big-hover-slide {
    text-align: center;
    display: inline-block;
    padding: 30px 40px;
    background-color: #017f87; }
  .section-information .list-information {
    width: 100%; }
    .section-information .list-information .owl-item {
      height: 400px;
      position: relative;
      -webkit-transition: ease .25s;
              transition: ease .25s; }
      .section-information .list-information .owl-item:hover:nth-child(odd), .section-information .list-information .owl-item:focus:nth-child(odd) {
        background-color: #9ca6aa; }
        .section-information .list-information .owl-item:hover:nth-child(odd):after, .section-information .list-information .owl-item:focus:nth-child(odd):after {
          background: url("../images/arrow-gray-hover-2.png") no-repeat scroll 0 0 transparent; }
      .section-information .list-information .owl-item:hover:nth-child(even), .section-information .list-information .owl-item:focus:nth-child(even) {
        background-color: #018d96; }
        .section-information .list-information .owl-item:hover:nth-child(even):after, .section-information .list-information .owl-item:focus:nth-child(even):after {
          background: url("../images/arrow-blue-hover-2.png") no-repeat scroll 0 0 transparent; }
      .section-information .list-information .owl-item:nth-child(odd) {
        background-color: #949fa3; }
        .section-information .list-information .owl-item:nth-child(odd):after {
          background: url("../images/arrow-gray.png") no-repeat scroll 0 0 transparent; }
      .section-information .list-information .owl-item:nth-child(even) {
        background-color: #017f87; }
        .section-information .list-information .owl-item:nth-child(even):after {
          background: url("../images/arrow-blue.png") no-repeat scroll 0 0 transparent;
          z-index: 333;
          -webkit-backface-visibility: hidden; }
      .section-information .list-information .owl-item:after {
        content: "";
        -webkit-transition: ease .25s;
                transition: ease .25s;
        position: absolute;
        height: 56px;
        top: 60px;
        left: 99.5%;
        width: 15px;
        z-index: 1; }
    .section-information .list-information .box-information {
      display: block;
      position: relative;
      width: 100%;
      min-height: 175px;
      padding: 5% 10%;
      text-align: center; }
      .section-information .list-information .box-information .inner-box-information {
        display: inline-block;
        margin: auto;
        position: relative;
        min-width: 80px; }
      .section-information .list-information .box-information .small-link {
        font-size: 11px;
        color: white;
        text-align: right;
        display: block;
        bottom: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent; }
      .section-information .list-information .box-information h2 {
        color: white;
        text-align: left;
        display: block;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 20px; }

.container-information {
  position: relative; }

/** ++++++++++++++++++++++++++++++++++++++
	About-page
++++++++++++++++++++++++++++++++++++++ **/
.about-page {
  position: relative;
  z-index: 1; }
  .about-page .about-information h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px; }
  .about-page .about-information .desc-authored {
    margin-left: 0; }
  .about-page .btn-yellow {
    padding: 8px 30px;
    border: 1px solid #d98f00; }

.bg-about {
  position: relative; }
  .bg-about:before {
    content: url("../images/angle-1.png");
    position: absolute;
    left: 0px;
    top: 0px; }
  .bg-about:after {
    content: url("../images/angle-2.png");
    position: absolute;
    left: 15px;
    top: 0px; }
  .bg-about .img-user {
    position: relative; }
    .bg-about .img-user:after {
      content: url("../images/big-user.png");
      position: absolute;
      right: 0;
      top: -60px; }

/** ++++++++++++++++++++++++++++++++++++++
	Kids-page
++++++++++++++++++++++++++++++++++++++ **/
.bg-kids {
  position: relative; }
  .bg-kids:before {
    content: url("../images/about/line-left.png");
    position: absolute;
    left: 15%;
    top: 0px;
    z-index: -1; }
  .bg-kids:after {
    content: url("../images/about/line-right.png");
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -6; }
  .bg-kids .img-bg-kids:after {
    content: url("../images/about/green-block-left.png");
    position: absolute;
    left: 0;
    top: -60px;
    z-index: -2; }
  .bg-kids .img-kids {
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    height: 75%;
    background: url("../images/about/kids.png") no-repeat scroll 0% 0 transparent;
    background-size: cover;
    z-index: -1;
    bottom: -2px; }
  .bg-kids .container {
    z-index: 33; }

.kids-page .header-page {
  text-align: right;
  max-width: 170px; }
.kids-page .kids-information {
  float: left;
  text-align: right;
  text-transform: uppercase; }
  .kids-page .kids-information h1 {
    margin-top: 0;
    color: black;
    font-size: 46px; }
.kids-page .list-child-information {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative; }
  .kids-page .list-child-information li {
    display: inline-block;
    margin-right: 20px;
    max-width: 160px;
    position: relative; }
    .kids-page .list-child-information li .box-child-info {
      -webkit-transition: all 0.45s cubic-bezier(0.88, 0.28, 0.75, 0.99) 0s;
              transition: all 0.45s cubic-bezier(0.88, 0.28, 0.75, 0.99) 0s;
      position: relative;
      text-align: center; }
    .kids-page .list-child-information li h4 {
      font-size: 14px;
      text-transform: capitalize;
      line-height: 1.4; }
    .kids-page .list-child-information li:hover, .kids-page .list-child-information li:focus {
      cursor: pointer; }
    .kids-page .list-child-information li:hover .box-child-info {
      -webkit-transform: translate3d(0%, -30px, 0px);
              transform: translate3d(0%, -30px, 0px); }

/** ++++++++++++++++++++++++++++++++++++++
	Should-see-page
++++++++++++++++++++++++++++++++++++++ **/
.bg-see {
  background-image: url("../images/shouldsee/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.see-information p {
  text-align: justify;
  font-size: 16px; }

.list-see-asking {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px; }
  .list-see-asking li {
    border-top: 2px solid #949fa3;
    margin-bottom: 20px; }
    .list-see-asking li:first-child {
      border-top: none; }
    .list-see-asking li .num {
      float: left;
      margin-right: 20px;
      background: url("../images/shouldsee/label.png") no-repeat center center transparent;
      width: 27px;
      height: 39px;
      color: white;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      padding-top: 5px; }
    .list-see-asking li p {
      margin-top: 5px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
      color: #949fa3; }

/** ++++++++++++++++++++++++++++++++++++++
	What to except
++++++++++++++++++++++++++++++++++++++ **/
.expect-page {
  position: relative;
  z-index: 1;
  margin: 60px 0; }

.bg-expect {
  position: relative;
  overflow: hidden; }
  .bg-expect .img-expect {
    position: relative; }
    .bg-expect .img-expect:before {
      content: url("../images/except/pattern.png");
      position: absolute;
      left: 0;
      top: -60px; }
  .bg-expect .expect-information {
    background-color: rgba(164, 180, 186, 0.68);
    padding: 20px;
    position: relative;
    z-index: 2; }
    .bg-expect .expect-information:before {
      content: "";
      position: absolute;
      background-color: rgba(164, 180, 186, 0.68);
      top: 0;
      right: 100%;
      width: 500%;
      height: 100%; }
    .bg-expect .expect-information .header-page {
      text-align: left;
      max-width: 300px; }
      .bg-expect .expect-information .header-page h1 {
        margin-top: 0;
        font-size: 46px;
        color: white; }
    .bg-expect .expect-information p {
      text-align: justify;
      font-size: 16px;
      font-weight: bold; }
      .bg-expect .expect-information p .highlight:hover, .bg-expect .expect-information p .highlight:focus {
        color: white; }
  .bg-expect .line-helper {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%; }
    .bg-expect .line-helper:before, .bg-expect .line-helper:after {
      content: "";
      position: absolute;
      background-color: rgba(164, 180, 186, 0.68);
      height: 10px;
      right: 15%;
      width: 500%; }
    .bg-expect .line-helper:before {
      top: -40px; }
    .bg-expect .line-helper:after {
      bottom: 0; }

/** ++++++++++++++++++++++++++++++++++++++
	Contact-page
++++++++++++++++++++++++++++++++++++++ **/
.contact-page {
  padding-right: 30px; }
  .contact-page .img-article {
    width: 100%;
    height: auto; }
  .contact-page h1 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase; }
  .contact-page-information {
    padding-left: 30px;
    padding-right: 0px; }
    .contact-page-information img {
      margin-bottom: 30px; }
    .contact-page-information .list-contact-information {
      margin: 0 0 0 20px;
      padding: 0;
      list-style-type: square;
      list-style-position: outside;
      list-style-image: none;
      font-weight: bold;
      margin-bottom: 30px !important; }
      .contact-page-information .list-contact-information.no-square {
        list-style: none outside none;
        margin: 0;
        padding: 0; }
      .contact-page-information .list-contact-information li span {
        text-transform: capitalize;
        margin-right: 5px; }
    .contact-page-information h3 {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold; }

.contact-form {
  margin-top: 30px;
  margin-bottom: 30px; }
  .contact-form p {
    width: 100%;
    display: block;
    margin-bottom: 30px; }
    .contact-form p span {
      font-weight: bold;
      margin-right: 15px;
      display: inline-block; }
    .contact-form p input {
      display: inline-block;
      border-bottom: 1px solid #949fa3;
      width: 470px;
      color: #017f87; }
      .contact-form p input:hover, .contact-form p input:focus {
        border-bottom: 1px solid black;
        outline-color: transparent; }
    .contact-form p textarea {
      color: #017f87;
      border: 1px solid #949fa3;
      margin-top: 10px; }
      .contact-form p textarea:hover, .contact-form p textarea:focus {
        border-bottom: 1px solid black;
        outline-color: transparent; }
  .contact-form .btn-submit {
    float: right;
    font-size: 12px;
    padding: 8px 60px; }

.map-wrapper {
  width: 100%; }
  .map-wrapper #map {
    width: 100%;
    height: 450px; }
  .map-wrapper .close-map {
    position: absolute;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 30px;
    text-align: center;
    left: 49%;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    color: #017f87;
    background-color: white;
    border: 4px solid #017f87;
    z-index: 333;
    cursor: pointer; }

#map-pane {
  background-color: #949fa3;
  min-height: 400px; }

/** ++++++++++++++++++++++++++++++++++++++
	Coming Soon
++++++++++++++++++++++++++++++++++++++ **/
.section-page.bg-comingsoon {
  height: 100%;
  overflow: hidden;
  position: relative; }

.comingsoon-information {
  max-width: 310px;
  position: absolute;
  left: 5vw; }
  .comingsoon-information:after {
    position: absolute;
    width: 120px;
    background-color: #e6e9ea;
    content: "";
    height: 100vw;
    top: -10vh;
    left: 102%; }

.coming-soon {
  text-transform: uppercase;
  margin-top: 100px;
  margin-left: 100px; }

/** ++++++++++++++++++++++++++++++++++++++
	Footer section
++++++++++++++++++++++++++++++++++++++ **/
.footer-site {
  width: 100%;
  background: none repeat scroll 0% 0% white;
  padding: 40px 0; }

.socmed-footer-list {
  float: left; }
  .socmed-footer-list ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px; }
    .socmed-footer-list ul li {
      display: inline-block;
      margin: 0 10px; }
      .socmed-footer-list ul li:first-child {
        margin-left: 0; }
      .socmed-footer-list ul li:last-child {
        margin-right: 0; }
      .socmed-footer-list ul li a {
        color: #017f87; }
      .socmed-footer-list ul li:hover a, .socmed-footer-list ul li:focus a {
        color: #949fa3; }

.copyright {
  float: right; }
  .copyright p {
    float: right;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 10px; }
    .copyright p a {
      text-transform: capitalize; }

/** ++++++++++++++++++++++++++++++++++++++
	Media queries
++++++++++++++++++++++++++++++++++++++ **/
.kids-page .header-page h1 {
  color: white; }

@media (min-width: 1450px) {
  .kids-page .header-page {
    position: absolute;
    left: -60%; }
    .kids-page .header-page h1 {
      color: white; }

  .bg-kids:before {
    left: 10.6%; }

  .bg-kids .img-kids {
    left: -40px; }

  .bg-expect .img-expect {
    display: none; } }
@media (min-width: 980px) and (max-width: 1199px) {
  .homepage-slider .item img {
    min-height: 600px; }

  .section-information .list-information .owl-item:after {
    display: none; }
  .section-information .list-information .box-information {
    min-width: 290px; }
    .section-information .list-information .box-information h2 {
      font-size: 18px; }

  .section-information .half10 a.more-article {
    margin: 0;
    padding: 20px; }

  .contact-page-information {
    padding: 0 15px; }

  .body-site .line-middle {
    display: none; }

  .contact-form p input {
    width: 86%; } }
@media (min-width: 768px) and (max-width: 985px) {
  .body-site .line-middle {
    display: none; }

  .modal-dialog {
    width: 550px; }

  .bg-about:before, .bg-about:after {
    display: none; }

  .bg-about .img-user:after {
    display: none; }

  article .tips-information {
    margin-bottom: 30px; }

  article .tips-information:after {
    top: 99%; }

  .about-page .about-information .desc-authored {
    float: none;
    margin-top: 60px;
    margin-bottom: 30px; }

  article .header-article .shared-list, article .header-article .entry-meta-extra {
    text-align: center; }

  article .title-container .authored {
    float: none;
    text-align: center; }
    article .title-container .authored img {
      float: none; }
    article .title-container .authored .desc-authored {
      float: none;
      text-align: center;
      margin: 20px 0 30px; }

  article .title-container h1, .bg-expect .expect-information .header-page h1 {
    font-size: 32px; }

  .bg-expect .expect-information:before {
    display: none; }

  .bg-expect .line-helper {
    display: none; }

  .bg-expect .expect-information {
    margin-bottom: 30px; }

  .panel-default > .panel-heading, .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 10px; }

  .bg-kids:after, .bg-kids:before, .bg-kids .img-bg-kids:after {
    display: none; }

  .kids-page .kids-information {
    float: none;
    text-align: center; }

  .bg-kids .img-kids {
    display: none; }

  .kids-page .header-page {
    max-width: inherit;
    text-align: center; }

  .kids-page .list-child-information {
    text-align: center; }

  .kids-page .list-child-information li {
    margin-bottom: 30px; }

  .contact-form p input {
    width: 100%; }

  .contact-page-information {
    padding: 0 15px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .search-top {
    display: none; }

  .main-navigation {
    display: none; }

  .for-button:after {
    display: none; } }
@media (max-width: 800px) {
  .body-site .line-middle {
    display: none; }

  .modal-dialog {
    width: 550px; }

  .homepage-site .homepage-caption {
    padding-top: 110px; }

  .new-homepage .homepage-bg {
    padding: 20% 0; }
  .new-homepage .container-homepage .big-text {
    font-size: 21px; }
  .new-homepage .container-homepage .homepage-link {
    font-size: 13px; }

  .homepage-link {
    font-size: 13px; }

  .btn-contact-header {
    font-size: 12px;
    padding: 3px 40px 3px 30px; }
    .btn-contact-header:before {
      left: -15px;
      border-bottom: 23px solid transparent; }

  .bg-about:before, .bg-about:after {
    display: none; }

  .bg-about .img-user:after {
    display: none; }

  article .tips-information {
    margin-bottom: 30px; }

  article .tips-information:after {
    top: 99%; }

  .about-page .about-information .desc-authored {
    float: none;
    margin-top: 60px;
    margin-bottom: 30px; }

  article .header-article .shared-list, article .header-article .entry-meta-extra {
    text-align: center; }

  article .title-container .authored {
    float: none;
    text-align: center; }
    article .title-container .authored img {
      float: none; }
    article .title-container .authored .desc-authored {
      float: none;
      text-align: center;
      margin: 20px 0 30px; }

  article .title-container h1, .bg-expect .expect-information .header-page h1 {
    font-size: 32px; }

  .bg-expect .expect-information:before {
    display: none; }

  .bg-expect .line-helper {
    display: none; }

  .bg-expect .expect-information {
    margin-bottom: 30px; }

  .panel-default > .panel-heading, .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 10px; }

  .bg-kids:after, .bg-kids:before, .bg-kids .img-bg-kids:after {
    display: none; }

  .kids-page .kids-information {
    float: none;
    text-align: center; }

  .bg-kids .img-kids {
    display: none; }

  .kids-page .header-page {
    max-width: inherit;
    text-align: center; }

  .kids-page .list-child-information {
    text-align: center; }

  .kids-page .list-child-information li {
    margin-bottom: 30px; }

  .contact-form p input {
    width: 100%; }

  .contact-page-information {
    padding: 0 15px; }

  .section-information .list-information .owl-item:after {
    display: none; }
  .section-information .list-information .box-information {
    min-width: 190px;
    padding: 15px 15px 5px; }
    .section-information .list-information .box-information h2 {
      font-size: 18px; }

  .section-information .half10 {
    width: 15%; }

  .section-information .half80 {
    width: 85%; } }
@media (max-width: 767px) {
  .search-top {
    display: none; }

  .main-navigation {
    display: none; }

  .for-button:after {
    display: none; } }
@media (max-width: 570px) {
  .for-button-left {
    display: none; }

  .search-top {
    display: none; }

  .main-navigation {
    display: none; }

  .homepage-site .homepage-caption {
    padding-top: 110px; }

  .new-homepage .homepage-bg {
    padding: 20% 0; }
  .new-homepage .container-homepage .big-text {
    font-size: 21px; }
  .new-homepage .container-homepage .homepage-link {
    font-size: 13px; }

  .section-information:before {
    display: none; }

  .homepage-slider .item img {
    height: 450px;
    width: 100%; }

  .section-information .half10 {
    width: 100%;
    text-align: center; }

  .section-information .half10 a.more-article {
    float: none;
    text-align: center; }

  .section-information .half80 {
    width: 100%; }

  .section-information .half80 .list-information {
    float: none;
    width: 100%; }

  .section-information .half10 a.more-article .arrow-right {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

  .for-button:after {
    display: none; }

  .section-information .container-information {
    overflow: visible; }

  .section-information .list-information .owl-item {
    height: auto;
    min-height: 171px;
    padding: 20px 10px; }
    .section-information .list-information .owl-item:after {
      display: none; }
    .section-information .list-information .owl-item .box-information h2 {
      font-size: 18px;
      line-height: 1.4; }

  .item-prof .content-prof .content-desc .label-attorneys:after, .item-prof .content-prof .content-desc .label-clinicians:after {
    top: 99%; } }
/** ++++++++++++++++++++++++++++++++++++++
	Sticky Footer
	This will override css properties in
	any single one class for needed to be
	sticky
++++++++++++++++++++++++++++++++++++++ **/
@media (min-width: 1450px) {
  .new-homepage, .bg-about, .bg-kids, .bg-professional, .bg-see, .bg-expect {
    height: 100%; }

  .new-homepage .homepage-bg {
    height: 100%;
    padding-top: 20%; }

  .bg-about {
    overflow: hidden; }
    .bg-about:before, .bg-about:after {
      -webkit-transform: scale(2);
          -ms-transform: scale(2);
              transform: scale(2); }
    .bg-about .img-user:after {
      top: 0;
      -webkit-transform: scale(1.8);
          -ms-transform: scale(1.8);
              transform: scale(1.8); }

  .bg-kids {
    overflow: hidden; }
    .bg-kids .img-kids {
      width: 105vw; }

  .item-prof .content-prof {
    height: 100vh; }

  .section-page.bg-comingsoon {
    height: 100%; } }
