.about-page{
	position: relative;
	z-index: 1; 
	.about-information{
		h1{
			font-size: 30px;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 30px;
		}
		.tips-information{
			// margin-bottom: 30px;
		}
		.desc-authored{
			margin-left: 0;
		}
	}
	.btn-yellow{
		padding: 8px 30px;
		border: 1px solid #d98f00;
	}

}

.bg-about{
	position: relative;
	&:before{
		content: url('../images/angle-1.png');
		position: absolute;
		left: 0px;
		top: 0px;
	}
	&:after{
		content: url('../images/angle-2.png');
		position: absolute;
		left: 15px;
		top: 0px;
	}
	.img-user{
		position: relative;
		&:after{
			content: url('../images/big-user.png');
			position: absolute;
			right: 0;
			top: -60px;
		}
	}
}