article{
	.img-article{
		border: 1px solid $color-gray-light;
		margin-bottom: 30px;
		width: 100%;
	}
	p{
		text-align: justify;
		margin-bottom: 30px;
		&.highlight{
			color: $color-green;
			font-weight: bold;
		}
	}

	.header-article{
		margin-bottom: 40px;
		h1{
			font-size: 32px;
			margin-top: 0;
			margin-bottom: 10px;
		}
		.shared-list{
			@include resetlist();
			margin-bottom: 10px !important; 
			li{
				display: inline-block;
				a{
					@include createcircle( 30px, 12px );
					color: white;
					margin-right: 5px;
					&:hover, &:focus{
						border-radius: 9px;
					}
				}
			}
		}
	} //Header article

	.title-container{
		width: 100%;
		position: relative;
		display: block;
		h1{
			font-size: 48px;
			text-transform: uppercase;
			line-height: 1.25;
			margin: 0;
		}
		.authored{
			float: right;
			position: relative;
			display: block;
			img{
				float: right;
				width: 107px;
				height: 107px;
				border-radius: 50%;
				margin-left: 20px;
			}
		}
	} //Title container

	.entry-meta-extra{
		color: $color-gray;
		font-size: 11px;
		margin-bottom: 10px;
	}

	.tips-information{
		background-color: $color-green;
		position: relative;
		padding: 20px;
		color: white;
		margin-left: 15px;
		box-shadow: -15px 0 0px $color-gray-light;
		&:after{
			position: absolute;
			width: 0;
			height: 0;
			content: no-close-quote;
			right: 0px;
			top: 100%;
			border-bottom: 35px solid transparent;
			border-right: 30px solid $color-green;
			// border-left: 12px solid $color-green;
		}
		p{
			margin-bottom: 5px;
			text-align: justify;
		}
	}
}

.desc-authored{
	float: left;
	min-width: 220px;
	text-align: right;
	margin-top: 25px;
	margin-left: 40px;
	.authored-name{
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
		> a{
			text-transform: none;
			color: $color-green;
			&:hover, &:focus{
				color: $color-gray;
			}
		}
	}
	ul{
		@include resetlist();
		li{
			display: inline-block;
			a{
				@include createcircle( 30px, 12px);
				color: white;
				margin-left: 5px;
				&:hover, &:focus{
					border-radius: 9px;
				}
			}
		}
	}
}

.article-post{
	position: relative;
	.prev{
		float: left;
	}
	.next{
		float: right;
	}
}