.body-site, .section-page{
	padding: 60px 0;
}

.body-site{
	position: relative;
	&:before, &:after{
		content: "";
		position: absolute;
		height: 60px;
		z-index: 33;
		background-color: white;
		left: 50%;
		width: 1px;
	}
	&:before{
		top: 0;
	}
	&:after{
		bottom: 0;
	}
	.line-middle{
		content: "";
		position: absolute;
		height: 100%;
		width: 1px;
		left: 50%;
		background-color: $color-bg-gray;
		top: 0;
	}
	
}

.bg-about{
	@include createbackground( $color-bg-gray );
}
