@mixin button-creater( $bg-color, $bg-hover ){
	display: inline-block;
	font-size: 17px;
	font-family: $font-oswald;
	padding: 2px 30px;
	text-transform: uppercase;
	color: white;
	background-color: $bg-color;
	cursor: pointer;
	border: 1px solid transparent;
	transition: ease .25s;
	&:hover, &:focus{
		color: white;
		background-color: $bg-hover;
	}
}

@mixin button-creater-2( $first-bg-color, $first-border-color, $second-bg-color, $second-border-color ){
	display: inline-block;
	font-size: 17px;
	font-family: $font-oswald;
	padding: 2px 30px;
	text-transform: uppercase;
	color: white;
	background-color: $first-bg-color;
	cursor: pointer;
	border: 1px solid $first-border-color;
	&:hover, &:focus{
		color: white;
		background-color: $second-bg-color;
		border-color: $second-border-color;
	}	
}

.btn-green{
	@include button-creater( $color-green, $color-green );
	border-color:$color-green-border;
	&:hover{
		border-radius: 9px;
	}
}

.btn-red{
	@include button-creater( $color-red, lighten( $color-red, 10% ) );
	border-color: $color-red-border;
}

.btn-yellow{
	@include button-creater( #ffa800, lighten( #ffa800, 10%) );
	&:hover{
		border-radius: 9px;
	}
}

.btn-green-border{
	display: inline-block;
	font-family: $font-oswald;
	padding: 10px 30px;
	background-color: transparent;
	color: $color-green;
	border: 2px solid $color-green;
	text-transform: uppercase;
	img{
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 0 !important;
	}
	&:hover, &:focus{
		border-color: $color-gray;
		border-radius: 9px;
	}
}