.section-page.bg-comingsoon{
	height: 100%;
	overflow: hidden;
	position: relative;
}

.comingsoon-information{
	max-width: 310px;
	position: absolute;
	left: 5vw;
	&:after{
		position: absolute;
		width: 120px;
		background-color: $color-gray-light;
		content: "";
		height: 100vw;
		top: -10vh;
		left: 102%;
	}
}

.coming-soon{
	text-transform: uppercase;
	margin-top: 100px;
	margin-left: 100px;
}