.contact-page{
	padding-right: 30px;
	.img-article{
		width: 100%;
		height: auto;
	}
	h1{
		margin: 0;
		font-size: 30px;
		text-transform: uppercase;
	}
	&-information{
		padding-left: 30px;
		padding-right: 0px;
		img{
			margin-bottom: 30px;
		}

		.list-contact-information{
			// @include resetlist();
			&.no-square{
				@include resetlist();
			}
			margin: 0 0 0 20px;
			padding: 0;
			list-style-type: square;
			list-style-position: outside;
			list-style-image: none;
			font-weight: bold;
			margin-bottom: 30px !important;
			li{
				// display: block;
				span{
					text-transform: capitalize;
					margin-right: 5px;
				}
			}
		}
		h3{
			margin-top: 0;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.contact-form{
	margin-top: 30px;
	margin-bottom: 30px;
	// margin-right: 15px;
	p{
		width: 100%;
		display: block;
		margin-bottom: 30px;
		span{
			font-weight: bold;
			margin-right: 15px;
			display: inline-block;
		}
		input{
			display: inline-block;
			border-bottom: 1px solid $color-gray;
			width: 470px;
			color: $color-green;
			&:hover, &:focus{
				border-bottom: 1px solid black;
				outline-color: transparent;
			}
		}
		textarea{
			color: $color-green;
			border: 1px solid $color-gray;
			margin-top: 10px;
			&:hover, &:focus{
				border-bottom: 1px solid black;
				outline-color: transparent;	
			}
		}
	}
	.btn-submit{
		float: right;
		font-size: 12px;
		padding: 8px 60px;
	}
}

.map-wrapper{
	width: 100%;
	.map-wrapper{
		
		&.active{
			// position: satic;
		}
	}
	#map{
		width: 100%;
		height: 450px;
	}
	.close-map{
		position: absolute;
		border-radius: 50%;
		width: 38px;
		height: 38px;
		line-height: 30px;
		text-align: center;
		left: 49%;
		cursor: pointer;
		margin-top: 20px;
		font-size: 18px;
		color: $color-green;
		background-color: white;
		border: 4px solid $color-green;
		z-index: 333;
		cursor: pointer;
	}
}

#map-pane{
	background-color: $color-gray;
	min-height: 400px;
}