.footer-site{
	width: 100%;
	@include createbackground( white );
	padding: 40px 0;
}

.socmed-footer-list{
	float: left;
	ul{
		@include resetlist();
		text-align: left;
		font-size: 14px;
		li{
			display: inline-block;
			margin: 0 10px;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				color: $color-green;
			}
			&:hover, &:focus{
				a{
					color: $color-gray;
				}
			}
		}
	}
}

.copyright{
	float: right;
	p{
		
		float: right;
		margin-left: 20px;
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 10px;
		a{
			text-transform: capitalize;
		}
	}
}