input[type="text"], input[type="email"], input[type="website"], input[type="search"]{
	width: 100%;
	height: 38px;
	line-height: 38px;
}

input, textarea{
	padding: 1em;
	font-size: 13px;
	border: 1px solid transparent;
	// border-radius: 2px;
}

textarea{
	width: 100%;
	resize: vertical;
}


.form-search-top{
	input{
		width: 246px;
		padding: 6px 10px;
		font-size: 10px;
		font-family: $font-oswald;
	}
} // Search in top header

