html, body{
	height: 100%;
}

body{
	color: black;
	font-size: 14px;
	line-height: 1.71428571;
}

a{
	transition: ease-out .25s;
	color: $color-green;
	&:hover, &:focus, &:active{
		text-decoration: none;
		outline: none !important;
		color: $color-gray;
	}
}

img{
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
	color: #363a3c;
	font-family: $font-oswald;
}

.highlight{
	color: $color-green;
}

@include stylingplaceholder( $color-text-gray );

$color-name: 
	(bg-black, $color-black),
	(bg-gray, $color-gray);

@each $name-color, $color-value in $color-name{
	.#{$name-color}{
		@include createbackground( $color-value)
	}
}

$color-bg:
	( bg-facebook, #3068a6 ),
	( bg-twitter, #43bff3 ),
	( bg-email, #c93a3a );

@each $bg-name, $color-value in $color-bg{
	.#{$bg-name}{
		background-color: $color-value;
		&:hover, &:focus{
			background-color: lighten( $color-value, 10% );
		}
	}
}

$spacer:
	( space30, 30px),
	( space60, 60px),
	( space90, 90px);

@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

.modal-backdrop{
	background-color: transparent;
}


#modalattorneys{
	.modal-backdrop{
		// background-color: $color-black;
		&.in{
			opacity: .9;
		}
	}
}

#modalclinicians{
	.modal-backdrop{
		// background-color: white;
		&.in{
			opacity: .9;
		}
	}
}


.big-text{
	font-family: $font-oswald;
	font-size: 58.64px;
	text-transform: uppercase;
}

.bold-upper{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

.modal-dialog{
	width: 900px;
	margin: 60px auto;
}

.modal-content{
	border: 1px solid $color-green;
	border-radius: 0;
	box-shadow: none;
	background-color: rgba( white, .92 );
	padding: 30px 40px;
}

.modal-header{
	position: relative;
	padding: 0;
	margin-bottom: 30px;
	border-bottom: none;
	.modal-title{
		font-size: 34px;
		text-transform: uppercase;
		font-weight: bold;
		color: $color-green;
	}
	button.close{
		width: 23px;
		height: 23px;
		border-radius: 50%;
		border: 1px solid black;
		color: black;
		position: absolute;
		top: -15px;
		right: -30px;
	}
}

.modal-body{
	padding: 0 0 30px;
	p{
		margin-bottom: 30px;
		text-align: justify;
	}
	ol{
		padding-left: 20px;
		margin-bottom: 30px;
		li{
			p{
				margin-bottom: 5px;
			}
		}
	}
	.title-modal-body{
		margin-top: 0;
		color: $color-green;
		text-transform: capitalize;
		margin-bottom: 30px;
	}
}

.header-page{
	text-align: center;
	img{
		margin: 0 auto 30px;
	}
	h1{
		margin: 0 auto 15px;
		text-transform: uppercase;
		line-height: 1.4;
	}
}

.panel-group .panel{
	border-radius: 0;
}

.panel-default{
	border: none;
}

.panel{
	box-shadow: none;
}

.panel-heading{
	padding: 10px 0 ;
}

.panel-body{
	padding: 15px 0 15px 50px;
	border-top: none !important;
}

.panel-default > .panel-heading{
	background-color: transparent;
	border: none;
	border-top: 2px solid $color-gray-light;
	padding-top: 0;
	.panel-title{
		margin-top: 5px;
		font-size: 21px;
		.number-expect{
			font-size: 14px;
			float: left;
			margin-right: 20px;
			background: url('../images/shouldsee/label.png') no-repeat center center transparent;
			width: 27px;
			height: 39px;
			color: white;
			display: inline-block;
			font-weight: bold;
			padding-top: 7px;
			text-align: center;
			position: relative;
			top: -6px;

		}
	}
}


.panel-heading [data-toggle="collapse"]:after
{
    font-family: 'FontAwesome';
    content: "\f077"; /* "play" icon */
    float: right;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;

	font-size: 8px;
	color: white;
	float: right;
	padding: 0px 5px;
	background-color: $color-green;
}

.panel-heading [data-toggle="collapse"].collapsed:after
{
	content: "\f078";
}

.clearboth{
	clear: both;
}

.panel-collapse{
	p{
		text-align: justify;
	}
}

.hyperlink-container{
	margin-bottom: 30px;
	img{
		margin-bottom: 5px !important;
	}
	a> small{
		font-weight: bold;
	}
}