.header-site{
	position: relative;
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid $color-gray-light;
	z-index: 999;
	background: white;
	.container-header{
		padding: 0 2%;
	}
	.nav-btn{
		color: black;
		border: 2px solid black;
		width: 100%;
		padding: 6px 0px;
		text-align: center;
		text-transform: uppercase;
		display: block;
		font-size: 11px;
		cursor: pointer;
		span{
			margin-right: 10px;
		}
		&:hover, &:focus{
			color: $color-gray;
			border-color: $color-gray;
		}
	}
	&.bg-black{
		border-bottom: 1px solid transparent;
		background: black;
		.main-navigation{
			ul{
				li{
					a{
						color: white;
					}
					&:hover, &:focus{
						a{
							color: $color-green;
						}
					}
				}
			}
		}
		.nav-btn{
			color: white;
			border: 2px solid white;
			width: 100%;
			padding: 6px 0px;
			text-align: center;
			text-transform: uppercase;
			display: block;
			font-size: 11px;
			span{
				margin-right: 10px;
			}
			&:hover, &:focus{
				color: $color-gray;
				border-color: $color-gray;
			}
		}
	}
}

.main-navigation{
	text-align: center;
	font-family: $font-oswald;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	z-index: 999;
	ul{
		@include resetlist();
		li{
			display: inline-block;
			&.active{
				a{
					color: $color-green;
				}
			}
			a{
				padding: 0;
				margin: 0 15px;
				color: $color-black; 
			}
			&:hover, &:focus{
				a{
					color: $color-green;
				}
			}
		}
	}
}

.top-header{
	position: relative;
	margin-bottom: 10px;
	display: block;

	.search-top{
		position: absolute;
		top: 0;
		right: 0px;
		.form-search-top{
			position: relative;
			input[type="submit"]{
				background: url('../images/search.png') no-repeat scroll center center transparent;
				border-width: medium medium medium 1px;
				border-color: transparent;
				text-indent: -9999px;
				position: absolute;
				vertical-align: top;
				height: 22px;
				width: 38px;
				right: 0;
				top: 0;
				border-style: none none none solid;
				margin-top: 8px;
			}
		}
	}
}

.logo{
	text-align: center;
	a{
		display: inline-block;
		img{
			display: block;
		}
	}
}


.btn-contact-header{
	background: $color-green;
	padding: 6px 60px 6px 45px;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	font-family: $font-oswald;
	position: absolute;
	right: 0;
	top: 100%;
	border-radius: 0 0 0 16px;
	z-index: 999;
	&:before{
		position: absolute;
		width: 0;
		height: 0;
		content: no-close-quote;
		left: -19px;
		top: 0px;
		border-bottom: 29px solid transparent;
		border-right: 22px solid $color-green;
		// border-left: 1px solid $color-green;
	}
	i{
		margin-right: 5px;
		font-size: 18px;
	}
	&:hover{
		color: black;
	}
}



.nav-collapse{
	
	list-style: none outside none;
	padding: 0;
	margin: 20px 0 20px;
	z-index: 3;
	text-transform: capitalize;
	a{
		display: block;
	}
}