.new-homepage{
	position: relative;
	.homepage-bg{
		position: relative;
		width: 100%;
		padding: 10% 0;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container-homepage{
		position: relative;
		z-index: 33;
		right: 0;
		text-align: right;
		color: white;
		.big-text{
			line-height: 1.4;
			font-weight: bold;
		}
	}

}

.homepage-img{
	background-image: url('../images/slide/1.jpg');
}

.container-homepage{
	padding: 0 2%;
}
.homepage-site{
	position: relative;
	.homepage-caption{
		position: absolute;
		z-index: 33;
		right: 0;
		text-align: right;
		width: 100%;
		padding-top: 180px;
		color: white;
		.big-text{
			line-height: 1.4;
			font-weight: bold;
		}
	}

}

.homepage-slider{
	position: relative;
	.item{
		img{
			width: 100%;
			background-size: cover;
		}
	}
}

.homepage-link{
	font-size: 27px;
	text-transform: capitalize;
	font-family: $font-oswald;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	background-color: $color-green;
	border: 1px solid $color-green-border;
	&:hover{
		color: white;
		background-color: lighten( $color-green, 10% );
		border-radius: 9px;
	}
}

.homepage-mask{
	@include maskbackground();
	background: url('../images/mask.png') no-repeat scroll left top transparent;
	background-size: cover;
	z-index: 22;
	top: -1px;
}