.for-button{
	text-align: center;
	position: relative;
	max-height: 174px;
	background-color: $color-green;
	transition: ease .25s;
	&:hover, &:focus{
		background-color: lighten( $color-green, 3% );
		&:after{
			background: url('../images/arrow-blue-hover.png') no-repeat scroll 0 0 transparent;
		}
	}
	&:after{
		transition: ease .25s;
		content: "";
		background: url('../images/arrow-blue.png') no-repeat scroll 0 0 transparent;
		position: absolute;
		height: 56px;
		top: 60px;
		left: 99.5%;
		width: 15px;
		z-index: 999;
	}
	&.for-button-left{
		.arrow-right{
			transform: rotateY(180deg);
		}
	}
}

.for-information{
	.owl-carousel .owl-wrapper, .owl-carousel .owl-item{
		transform: inherit;
	}
}

.section-information{
	@include createbackground( $color-green );
	position: relative;
	&:before{
		content: "";
		position: absolute;
		height: 13px;
		background-color: $color-green;
		top: -23px;
		left: 0;
		width: 400px;		
	}
	.container-information{
		width: 100%;
		position: relative;
		max-height: 174px;
		overflow: hidden;
	}
	.half10{
		width: 10%;
		float: left;
		a.more-article-prev{
			display: inline-block;
			float: left;
			margin: 40px 20px;
			z-index: 333;
			span{
				display: inline-block;
				color: white;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: bold;
			}
			.arrow-right{
				background: url('../images/arrow-right.png') no-repeat scroll center center transparent;
				display: block;
				width: 60px;
				height: 60px;
				text-indent: -9999px;
				margin: 0 auto 10px;
			}
			&:hover, &:focus{
				cursor: pointer;
			}			
		}
		a.more-article{
			display: inline-block;
			float: left;
			margin: 40px 20px;
			z-index: 333;
			span{
				display: inline-block;
				color: white;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: bold;
			}
			.arrow-right{
				background: url('../images/arrow-right.png') no-repeat scroll center center transparent;
				display: block;
				width: 60px;
				height: 60px;
				text-indent: -9999px;
				margin: 0 auto 10px;
			}
			&:hover, &:focus{
				cursor: pointer;
			}
		}
	} // half10
	.half80{
		float: left;
		width: 80%;
		.list-information{
			float: left;
		}
	}
	.big-hover-slide{
		text-align: center;
		display: inline-block;
		padding: 30px 40px ;
		background-color: $color-green;

	}
	.list-information{
		width: 100%;
		.owl-item{
			height: 400px;
			// display: inline-flex;
			position: relative;
			transition: ease .25s;
			&:hover, &:focus{
				&:nth-child(odd){
					background-color: lighten( $color-gray, 3% );
					&:after{
						background: url('../images/arrow-gray-hover-2.png') no-repeat scroll 0 0 transparent;
					}
				}
				&:nth-child(even){
					background-color: lighten( $color-green, 3% );
					&:after{
						background: url('../images/arrow-blue-hover-2.png') no-repeat scroll 0 0 transparent;
					}
				}
			}
			&:nth-child(odd){
				background-color: $color-gray;
				&:after{
					background: url('../images/arrow-gray.png') no-repeat scroll 0 0 transparent;
				}
			}
			&:nth-child(even){
				background-color: $color-green;
				&:after{
					background: url('../images/arrow-blue.png') no-repeat scroll 0 0 transparent;
					z-index: 333;
					-webkit-backface-visibility: hidden
				}
			}	
			&:after{
				content: "";
				transition: ease .25s;
				position: absolute;
				height: 56px;
				top: 60px;
				left: 99.5%;
				width: 15px;
				z-index: 1;
			}
		}
		.box-information{
			// min-width: 350px;
			// display: flex;
			display: block;
			position: relative;
			width: 100%;
			min-height: 175px;
			padding: 5% 10%;
			text-align: center;
			.inner-box-information{
				display: inline-block;
				margin: auto;
				position: relative;
				min-width: 80px;
			}
			.small-link{
				font-size: 11px;
				color: white;
				text-align: right;
				display: block;
				bottom: 10px;
				// right: 0;
				// float: right;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;
				// &:hover, &:focus{
				// 	border-bottom: 1px solid white;
				// }
			}
			h2{
				color: white;
				text-align: left;
				display: block;
				font-family: $font-oswald;
				text-transform: uppercase;
				font-size: 30px;
				margin-top: 20px;
			}
		}
	}
}

.container-information{
	position: relative;
}

// .list-information{
// 	display: none;
// 	ul{
// 		@include resetlist();
// 		li{
// 			position: relative;
// 			display: inline-block;
// 			color: white;
// 			text-transform: uppercase;
// 			font-weight: bold;
// 			// width: 30%;
// 			min-width: 300px;
// 			vertical-align: top;
// 			padding-left: 30px;
// 			padding-right: 30px;
// 			min-height: 160px;
// 			&:nth-child(odd){
// 				background-color: $color-gray;
// 				&:after{
// 					background: url('../images/arrow-gray.png') no-repeat scroll 0 0 transparent;
// 					right: -70px;
// 				}

// 			}
// 			&:after{
// 				content: "";
// 				background: url('../images/arrow-blue.png') no-repeat scroll 0 0 transparent;
// 				position: absolute;
// 				height: 56px;
// 				top: 40%;
// 				right: -73px;
// 				width: 70px;
// 				z-index: 1;
// 			}
// 			.small-link{
// 				font-size: 11px;
// 				color: white;
// 				text-align: right;
// 				display: block;
// 				bottom: 10px;
// 				right: 0;
// 			}
// 			h2{
// 				display: inline-block;
// 				font-family: $font-oswald;
// 				font-size: 30px;
// 				margin: 20px auto 20px;
// 				min-height: 66px;
// 			}
// 		}
// 	}
// }
