.bg-kids{
	position: relative;

	&:before{
		content: url('../images/about/line-left.png');
		position: absolute;
		left: 15%;
		top: 0px;
		z-index: -1;
	}
	&:after{
		content: url('../images/about/line-right.png');
		position: absolute;
		top: 0px;
		right: 0;
		z-index: -6;

	}
	.img-bg-kids{
		// position: relative;
		// height: 100%;
		// width: 100%;
		&:after{
			content: url('../images/about/green-block-left.png');
			position: absolute;
			left: 0;
			top: -60px;
			z-index: -2;
		}
	}
	.img-kids{
		display: block;
		left: 0;
		position: absolute;
		width: 100%;
		height: 75%;
		background: url("../images/about/kids.png") no-repeat scroll 0% 0 transparent;
		background-size: cover;
		z-index: -1;
		bottom: -2px;
	}
	.container{
		z-index: 33;
	}
}

.kids-page{
	.header-page{
		text-align: right;
		max-width: 170px;
	}
	.kids-information{
		float: left;
		text-align: right;
		text-transform: uppercase;
		h1{
			margin-top: 0;
			color: black;
			font-size: 46px;
		}
	}
	.list-child-information{
		@include resetlist();
		position: relative;

		li{
			display: inline-block;
			margin-right: 20px;
			max-width: 160px;
			position: relative;
			.box-child-info{
				transition:all 0.45s cubic-bezier(0.88,0.28,0.75,0.99) 0s;
				position: relative;
				text-align: center;
			}
			h4{
				font-size: 14px;
				text-transform: capitalize;
				line-height: 1.4;
				
			}
			&:hover, &:focus{
				cursor: pointer;
			}
			&:hover{
				.box-child-info{
					transform: translate3d(0%, -30px, 0px);
				}
			}
		}
	}
}
