.kids-page .header-page{
    h1{ 
        color: white;
    }
}

@media (min-width: 1450px) {
    .kids-page .header-page{
        position: absolute;
        left: -60%;
        h1{ 
            color: white;
        }
    }
    .bg-kids:before{
        left: 10.6%;        
    }
    .bg-kids .img-kids{
        left: -40px;
    }
    .bg-expect .img-expect{
        display: none;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    .homepage-slider .item img{
        min-height: 600px;
    }

    .section-information .list-information{
        .owl-item{
            &:after{
                display: none;
            }
        }
        .box-information{
            min-width: 290px;
            h2{
                font-size: 18px;
            }
        }
    }
    .section-information .half10 a.more-article{
        margin: 0;
        padding: 20px;
    }

    .contact-page-information{
        padding: 0 15px;
    }

    .body-site .line-middle{
        display: none;
    }

    .contact-form p input{
        width: 86%;
    }

}


@media (min-width:768px) and (max-width:985px) {
    .body-site .line-middle{
        display: none;
    }

    .modal-dialog{
        width: 550px;
    }

   .bg-about:before, .bg-about:after{
        display: none;
    }

    .bg-about .img-user:after{
        display: none;
    }

    article .tips-information{
        margin-bottom: 30px;
    }

    article .tips-information:after{
        top: 99%;
    }

    .about-page .about-information .desc-authored{
        float: none;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    article .header-article{
        .shared-list, .entry-meta-extra{
            text-align: center;    
        }       
    }

    article .title-container .authored{
        float: none;
        text-align: center;
        img{
            float: none;
        }
        .desc-authored{
            float: none;
            text-align: center;
            margin: 20px 0 30px;
        }
    }

    article .title-container h1, .bg-expect .expect-information .header-page h1{
        font-size: 32px;
    }

    .bg-expect .expect-information:before{
        display: none;
    }

    .bg-expect .line-helper{
        display: none;
    }

    .bg-expect .expect-information{
        margin-bottom: 30px;
    }

    .panel-default > .panel-heading, .panel-default > .panel-heading + .panel-collapse > .panel-body{
        padding: 10px;
    }

    .bg-kids:after, .bg-kids:before, .bg-kids .img-bg-kids:after{
        display: none;
    }

    .kids-page .kids-information{
        float: none;
        text-align: center;
    }
    
    .bg-kids .img-kids{
        display: none;
    }

    .kids-page .header-page{
        max-width: inherit;
        text-align: center;
    }

    .kids-page .list-child-information{
        text-align: center;
    }

    .kids-page .list-child-information li{
        margin-bottom: 30px;
    }

    .contact-form p input{
        width: 100%;
    }

    .contact-page-information{
        padding: 0 15px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .search-top{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .for-button:after{
        display: none;
    }

}

@media ( max-width: 800px ){
    .body-site .line-middle{
        display: none;
    }
    .modal-dialog{
        width: 550px;
    }
    .homepage-site .homepage-caption{
        padding-top: 110px;
    }
    .new-homepage{
        .homepage-bg{
            padding: 20% 0;
        }
        .container-homepage{
            .big-text{
                font-size: 21px;
            }
            .homepage-link{
                font-size: 13px;
            }
        }
    }
    // .homepage-site .homepage-caption .big-text{
    //     font-size: 21px;
    // }

    .homepage-link{
        font-size: 13px;
    }
    .btn-contact-header{
        font-size: 12px;
        padding: 3px 40px 3px 30px;
        &:before{
            left: -15px;
            border-bottom: 23px solid transparent;
        }
    }

   .bg-about:before, .bg-about:after{
        display: none;
    }

    .bg-about .img-user:after{
        display: none;
    }

    article .tips-information{
        margin-bottom: 30px;
    }

    article .tips-information:after{
        top: 99%;
    }

    .about-page .about-information .desc-authored{
        float: none;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    article .header-article{
        .shared-list, .entry-meta-extra{
            text-align: center;    
        }       
    }

    article .title-container .authored{
        float: none;
        text-align: center;
        img{
            float: none;
        }
        .desc-authored{
            float: none;
            text-align: center;
            margin: 20px 0 30px;
        }
    }

    article .title-container h1, .bg-expect .expect-information .header-page h1{
        font-size: 32px;
    }

    .bg-expect .expect-information:before{
        display: none;
    }

    .bg-expect .line-helper{
        display: none;
    }

    .bg-expect .expect-information{
        margin-bottom: 30px;
    }

    .panel-default > .panel-heading, .panel-default > .panel-heading + .panel-collapse > .panel-body{
        padding: 10px;
    }

    .bg-kids:after, .bg-kids:before, .bg-kids .img-bg-kids:after{
        display: none;
    }

    .kids-page .kids-information{
        float: none;
        text-align: center;
    }
    
    .bg-kids .img-kids{
        display: none;
    }

    .kids-page .header-page{
        max-width: inherit;
        text-align: center;
    }

    .kids-page .list-child-information{
        text-align: center;
    }

    .kids-page .list-child-information li{
        margin-bottom: 30px;
    }

    .contact-form p input{
        width: 100%;
    }

    .contact-page-information{
        padding: 0 15px;
    }

    .section-information .list-information{
        .owl-item{
            &:after{
                display: none;
            }
        }
        .box-information{
            min-width: 190px;
            padding: 15px 15px 5px;
            h2{
                font-size: 18px;
            }
        }
    }

    .section-information .half10{
        width: 15%;
    }
    .section-information .half80{
        width: 85%;
    }


}

@media (max-width: 767px) {
    .search-top{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .for-button:after{
        display: none;
    }
}

@media (max-width:570px) {
    .for-button-left{
        display: none;
    }

    .search-top{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .homepage-site .homepage-caption{
        padding-top: 110px;
    }
    .new-homepage{
        .homepage-bg{
            padding: 20% 0;
        }
        .container-homepage{
            .big-text{
                font-size: 21px;
            }
            .homepage-link{
                font-size: 13px;
            }
        }
    }

    // .homepage-site .homepage-caption .big-text{
    //     font-size: 21px;
    // }

    .section-information:before{
        display: none;
    }

    // .homepage-link{
    //     font-size: 13px;
    // }
    .homepage-slider .item img{
        height: 450px;
        width: 100%;
    }

    .section-information .half10{
        width: 100%;
        text-align: center;
    }
    .section-information .half10 a.more-article{
        float: none;
        text-align: center;
    }
    .section-information .half80 {
        width: 100%;
    }
    .section-information .half80 .list-information{
        float: none;
        width: 100%;
    }
    .section-information .half10 a.more-article .arrow-right{
        transform: rotate(90deg);
    }

    .for-button:after{
        display: none;
    }

    .section-information .container-information{
        overflow: visible;
        // overflow-x: hidden !important;
    }

    .section-information .list-information{
        .owl-item{
        // width: 100% !important;
        height: auto;
        // display: block !important;
        min-height: 171px;
        padding: 20px 10px;
            &:after{
                display: none;
            }
            .box-information h2{
                font-size: 18px;
                line-height: 1.4;
            }
        }
    }

    .item-prof .content-prof .content-desc .label-attorneys:after, .item-prof .content-prof .content-desc .label-clinicians:after{
        top: 99%;
    }

}
