@mixin createbackground( $color ){
	background: none repeat scroll 0% 0% $color;
}

@mixin resetlist(){
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

@mixin stylingplaceholder( $color-text){
	::-webkit-input-placeholder {
	   color: $color-text;
	   font-family: $font-oswald;
	}

	:-moz-placeholder { 
	   color: $color-text;
	   font-family: $font-oswald;
	}

	::-moz-placeholder {
	   color: $color-text;
	   font-family: $font-oswald;
	}

	:-ms-input-placeholder {  
	   color: $color-text;
	   font-family: $font-oswald;
	}
}

@mixin maskbackground(){
	display: block;
	left: 0;
	top: 0;
	position: absolute; 
	width: 100%;
	height: 100%;
}

@mixin createcircle( $size, $font-size ){
	text-align: center;
	width: $size;
	height: $size;
	line-height: $size;
	font-size: $font-size;
	border-radius: 50%;
	display: block;
}