#modalattorneys, #modalclinicians{
	.title-modal-body{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.list-content{
		margin: 0 0 30px 0;
		padding: 0 0 0 30px;
	}
}

#modalattorneys{
	.highlight{
		color: $color-red;
	}
	.title-modal-body{
		color: $color-red;
	}
}

.bg-professional{
	padding: 0;
	.text-fixed{
		display: none;
	}
}

.item-prof{
	padding: 0;
	.content-prof{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;		
		padding-top: 440px;
		padding-bottom: 100px;
		text-align: center;
		cursor: pointer;
		transition: opacity .35s;
		&:hover, &:focus{
			opacity: .90;
		}
		.content-desc{
			.label-attorneys, .label-clinicians{
				font-size: 32px;
				font-family: $font-oswald;
				padding: 60px 30px 50px;
				color: white;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				&:after{
					height: 22px;
					top: 100%;
					width: 100%;
					z-index: 1;
					position: absolute;
					left: 0;
					content: "";
					background-size: cover;
					background-position: 0 0;
					background-repeat: no-repeat;
				}
			}
			.label-attorneys{
				background-color: $color-red;
				&:after{
					background-image: url('../images/angle-red.png') ;
				}
			}
			.label-clinicians{
				background-color: $color-green;
				&:after{
					background-image: url('../images/angle-blue.png');
				}
			}
			.label-box{
				display: block;
				margin-bottom: 60px;
			}
		}
	}
	.content-clinicians{
		background-image: url('../images/professionals/right.jpg');
	}
	.content-attorneys{
		background-image: url('../images/professionals/left.jpg');
	}

}

