.bg-see{
	background-image: url('../images/shouldsee/bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.see-information{
	p{
		text-align: justify;
		font-size: 16px;
	}
}

.list-see-asking{
	@include resetlist();
	margin-bottom: 30px;
	li{
		border-top: 2px solid $color-gray;
		margin-bottom: 20px;
		&:first-child{
			border-top: none;
		}
		.num{
			float: left;
			margin-right: 20px;
			background: url('../images/shouldsee/label.png') no-repeat center center transparent;
			width: 27px;
			height: 39px;
			color: white;
			text-align: center;
			display: inline-block;
			font-weight: bold;
			padding-top: 5px;
		}
		p{
			margin-top: 5px;
			margin-bottom: 10px;
			font-weight: bold;
			font-size: 16px;
			color: $color-gray;
		}
	}
}