@media ( min-width:1450px ) {
	.new-homepage, .bg-about, .bg-kids, .bg-professional, .bg-see, .bg-expect{
		height: 100%;
	}

	.new-homepage .homepage-bg{
		height: 100%;
		padding-top: 20%;
	}

	.bg-about{
		overflow: hidden;
		&:before, &:after{
			transform: scale(2);
		}
		.img-user{
			&:after{
				top: 0;
				transform: scale(1.8);
			}
		}
	}

	.bg-kids{
		overflow: hidden;
		.img-kids{
			width: 105vw;
		}
	}

	.item-prof .content-prof{
		height: 100vh;
	}

	.section-page.bg-comingsoon{
		height: 100%;
	}
}
