// Color scheme
$color-black: #000000;

$color-green: #017f87;
$color-green-border: #81ebf2;

$color-red: #c64d56;
$color-red-border: #78141b;

$color-gray: #949fa3;
$color-gray-light: lighten( $color-gray, 30% );

$color-text-gray: #c3cbcc;
$color-text-black: #333;


$color-bg-gray: #efefef;
// Font
$font-oswald: "Oswald", sans-serif;


$color-green-hover: #00969f;
$color-gray-hover: #6a777d;
//  gray