.expect-page{
	position: relative;
	z-index: 1;
	margin: 60px 0;
}

.bg-expect{
	position: relative;
	overflow: hidden;
	.img-expect{
		position: relative;

		&:before{
			content: url('../images/except/pattern.png');
			position: absolute;
			left: 0;
			top: -60px;
			// z-index: -1;
		}
	}
	.expect-information{
		background-color: rgba( #a4b4ba, .68 );
		padding: 20px;
		position: relative;
		z-index: 2;
		&:before{
			content: "";
			position: absolute;
			background-color: rgba( #a4b4ba, .68 );
			top: 0;
			right: 100%;
			width: 500%;
			height: 100%;
		}
		.header-page{
			text-align: left;
			max-width: 300px;
			h1{
				margin-top: 0;
				font-size: 46px;
				color: white;
			}
		}
		p{
			text-align: justify;
			font-size: 16px;
			font-weight: bold;
			.highlight{
				&:hover, &:focus{
					color: white;
				}
			}
		}
	}
	.line-helper{
		z-index: -1;
		position: absolute;
		height: 100%;
		width: 100%;
		&:before, &:after{
			content: "";
			position: absolute;
			background-color: rgba( #a4b4ba, .68 );
			height: 10px;
			right: 15%;
			width: 500%;
		}
		&:before{
			top: -40px;
		}
		&:after{
			bottom: 0;
		}		
	}
}
