.widget{
	margin-bottom: 20px;

	.title-aside{
		margin-top: 0;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: 24px;
	}
	&-search{
		.form-search-sidebar{
			position: relative;
			input[type="text"]{
				background-color: $color-gray-light;
			}
			input[type="submit"]{
				background: url('../images/search-two.png') no-repeat scroll center center transparent;
				border-width: medium medium medium 1px;
				border-color: transparent;
				text-indent: -9999px;
				position: absolute;
				vertical-align: top;
				height: 22px;
				width: 38px;
				right: 0;
				top: 0;
				border-style: none none none solid;
				margin-top: 8px;
			}
			@include stylingplaceholder( $color-gray );
		} // Search in sidebar body
	}// Widget search

	&-populer-post{
		ul{
			@include resetlist();
			li{
				display: block;
				position: relative;
				margin-bottom: 30px;
				&:last-childe{
					margin-bottom: 0px;
				}
				&:before{
					content: "\f068";
					position: absolute;
					font-family: FontAwesome;
					font-size: 8px;
					left: 0;
					top: 20%;
					color: $color-gray;
				}
				article{
					margin-left: 30px;
					h4{
						margin-top: 0;
						margin-bottom: 10px;
						font-size: 18px;
						text-transform: uppercase;
						line-height: 1.4;
						a{
							color: $color-gray;
							&:hover, &:focus{
								color: $color-green;
							}
						}
					}
				}
			}
		}
	}
}